#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root h1 {
  font-family: "Jacquard 12";
  margin-top: 0;
}

#root button:focus {
  outline-color: #3f3;
}

#root textarea {
  resize: none;
  overflow-wrap: break-word;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #3f3;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.normalText {
  font-family: "VT323";
  font-size: 2rem;
  color: #3f3;
  text-shadow: #0a0 0 0 6px;
}

.watermark {
  position: absolute;
  font-size: 1rem;
  font-family: "VT323";
  color: #888888;
  bottom: 0;
  left: 1rem;
  user-select: none;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-family: "VT323";
  color: rgb(255, 56, 56);
  text-shadow: #ff0000 0 0 6px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  white-space: pre-wrap;
}

.mainContainer {
  width: 80vw;
  height: 60vh;
  border: #3f3 2px solid;
  box-shadow: #0a0 0 0 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mainContainer::before {
  content: "game.exe";
  font-size: 1.5rem;
  font-family: "VT323";
  position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(-60%);
  background-color: #242424;
  padding: 0 8px;
}

.inventoryModal {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 25%;
  height: 60%;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  /* justify-content: top; */
  align-items: center;
  z-index: 101;
  border: #3f3 2px solid;
  box-shadow: #0a0 0 0 6px;
}

.closeInventoryButton {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-55%);
  height: 1.5rem;
  width: fit-content;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem;
  user-select: none;
  font-size: 1.5rem;
  border-radius: 0px;
}

.closeInventoryButton:hover {
  border-color: transparent;
}

.inventoryList {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  margin: 0;
  padding: 0;
}

.inventoryItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
}

.inventoryItem > p {
  margin: 0;
}

.title {
  font-family: "Jacquard 12";
  font-size: 4rem;
  color: #3f3;
  text-shadow: #0a0 0 0 6px;
  margin-bottom: 80px;
  width: 100%;
  user-select: none;
}

.historyButton {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-55%);
  height: 1.5rem;
  width: 1.5rem;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  /* color: #3f3; */
  /* fill: #3f3; */
  /* filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.3)); */
}

.historyButton:hover {
  border-color: transparent;
}

.historyIcon {
  height: 1.5rem;
  width: 1.5rem;
  filter: drop-shadow(0px 0px 6px #0a0);
}

.historyList {
  margin-left: 2rem;
}

.historyItem {
  text-align: left;
  line-height: 100%;
  /* position: relative; */
}


.historyItemButton {
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}

.historyItemButton:hover::before {
  content: ">"; 
  position: absolute;
  left: -4rem; 
  color: #3f3;
}

.historyItemButton:hover {
  border-color: transparent;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-110%);
  background-color: #242424;
  padding: 0 8px;
  user-select: none;
}

.input {
  width: 40vw;
  height: 2rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  /* display: flex; */
}

.tallTextarea {
  height: 4rem;
}

.inputWide {
  width: 100%;
}

.input:focus {
  outline: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
}

.inputContainer::before {
  content: ">";
  margin-right: 1rem;
  line-height: 115%;
}

.nameInput::before {
  content: "[guest@nova] $ setname";
  margin-right: 0.7rem;
}

.subContainer {
  height: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.outputContainer {
  text-align: left;
  line-height: 100%;
  margin: 0;
  white-space: pre-wrap;
}

.healthBar {
  position: absolute;
  bottom: 0;
  transform: translateY(66%);
  background-color: #242424;
}

.heart {
  height: 2rem;
  width: 2rem;
  user-select: none;
  filter: drop-shadow(0px 0px 6px #a00);
}

.inventoryButton {
  position: absolute;
  bottom: 0;
  right: 16px;
  transform: translateY(55%);
  height: 1.5rem;
  width: fit-content;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem;
  user-select: none;
  font-size: 1.5rem;
}

.inventoryButton:hover {
  border-color: transparent;
}

.unselectable {
  user-select: none;
}
